<html ng-app="PhoneList">
  <head>
    <meta charset="UTF-8"/>

    <title>Lista Telefônica</title>

    <script src="lib/angular.js"></script>
    <script src="lib/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/phone_list_controller.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  </head>

  <body>
    <div ng-controller="PhoneListController">
      <center><h2>{{title}}</h2></center>
      <input class="form-control" type="text" placeholder="Digite o contact desejado" ng-model="criterioDeBusca"/>
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th></th>
            <th><a href="" ng-click="order_by('name')">Nome</a></th>
            <th><a href="" ng-click="order_by('phone')">Telefone</a></th>
            <th><a href="" ng-click="order_by('operator')">Operadora</a></th>
          </tr>
        </thead>

        <tr ng-repeat="contact in contacts | filter:{name: criterioDeBusca} | orderBy:sorting_criteria:direction_order">
          <td><input type="checkbox" ng-model="contact.selected"/></td>
          <td>{{contact.name}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.operator}}</td>
        </tr>
      </table>

      <form name="contactForm">
        <input class="form-control" placeholder="Nome" type="text" ng-model="contact.name" name="nome" ng-required="true" ng-minlength="3"/>
        <input class="form-control" placeholder="Telefone" type="text" ng-model="contact.phone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>

        <select class="form-control" ng-model="contact.operator" ng-options="operadora.id as operadora.name for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>

        <div class="alert alert-warning" ng-messages="contactForm.nome.$error" ng-if='contactForm.nome.$dirty'>
          <div ng-message="required"> Preencha o nome </div>
          <div ng-message="minlength"> O tamanho do nome deve possuir ao menos 3 caracteres </div>
        </div>

        <div class="alert alert-warning" ng-messages="contactForm.telefone.$error" ng-if='contactForm.telefone.$dirty'>
          <div ng-message="required"> Preencha o telefone </div>
          <div ng-message="pattern"> O campo deve ter o formato DDDDD-DDDD </div>
        </div>

        <center>
          <input type="button" class="btn btn-primary"  ng-click="add_contact(contact)" ng-disabled="contactForm.$invalid" value="Salvar"/>
          <input type="button" class="btn btn-danger" ng-click="delete_contact(is_selected(contacts))" ng-disabled="!is_selected(contacts)" value="Apagar contact"/>
        </center>
      </form>
    </div>
  </body>
</html>
